#adminNavbar .bg-dark{
    background-color: #3FB27F!important;
}
#adminSidebar{
    background-color: #F35045;
    height: 100vh;
    z-index: 1038;
}
#adminMainContent{
    position:relative;
    display: flex;
    flex-direction: column;
}

#adminFooter{
    background-color: #3FB27F!important;
    color: #FFFFFF;
    min-height: 3rem;
}
#adminFooter a,p{
    color: #FFFFFF;
}
.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: rebeccapurple;
    background: rgba(90, 92, 105, 0.5);
    line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: rebeccapurple;
}

.scroll-to-top:hover {
    background: #5a5c69;
}

.scroll-to-top i {
    font-weight: 800;
}
